# Terraform
**/.terraform/
*.tfstate
*.tfstate.*

# Keep Terraform lock file
!.terraform.lock.hcl

# Terraform variable files
*.tfvars

# Crash logs
crash.log

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json